.container {
  border-radius: 5px;
  height: fit-content;
  max-height: 98%;
  max-width: 700px;
}
.instructions {
  margin-bottom: 1em;
}
.login {
  margin: 2em auto;
  max-width: 500px;
}
.button {
  text-align: center;
}
.form-check {
  margin-top: 2em;
}
#timer-card {
  margin: 2em auto;
}
#nextSubmitPreviousButtons {
  margin-bottom: 2em;
}
#previous,
#submit,
#next {
  visibility: hidden;
  margin: 0em 1rem;
}
#scoreDiv {
  margin-top: 5em;
}
#restartButton {
  margin-top: 1em;
}

/* -----------------------divs made invisible ------------------------*/
#timer {
  display: none;
}
#question-page {
  display: none;
}
#result-page {
  display: none;
  margin-bottom: 2em;
}
