.container{
    border: 5px solid rgb(0, 119, 255);
    height: 95%;
    max-width: 700px;
}
.login{
    margin: 2em auto;
    max-width: 500px;
}
.button{
    text-align: center;
}
.form-check{
    margin-top: 2em;
}

#a,#b,#c,#d,#e,#f,#g,#h,#i,#j,#previous,#next,#submit{
    display: none;
}
#timer-card{
    margin: 2em auto;
}
#timer{
    display: none;
}
#question-page{
    display: none;
}